.nav-item .icon i {
    font-size: 14px !important;
}

.nav-item .nav-link-text {
    margin-top: 3px !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #78B6E7 !important;
}

.navbar-nav .nav-item .icon:hover, .navbar-nav .nav-item i:hover {
  color: #111111 !important;
  opacity: 1 !important;
}

.card-crud {
    height: calc(100vh - 125px) !important;
}

/* @media (min-width: 992px) and (max-width: 1910px) {
  .table-responsive {
    overflow-x: hidden !important;
  }

  .table {
    width: 100% !important;
    table-layout: auto !important;
  }
} */
 
.notification-badge {
    opacity: 1 !important;
    visibility: visible !important;
    display: inline-flex !important;
}
